<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test thread-count="5" name="Test">
        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.LogOut.T001_LogOutByDropMenu"/>
           <class name="testCases.LogOut.T002_LogOutByRightColumn"/>
           <class name="testCases.LogOut.T004_VerifyLogOutNotVisiableBeforeLogIn"/>
           <class name="testCases.LogOut.T003_VerifyLogOutNotDisplayRightCol"/>
           <class name="testCases.LogOut.T005_VerifyLogOutLogInImmediateAfterLogOut"/>
           <class name="testCases.LogOut.T006_VerifyLogOutPageUI"/>

          <class name="testCases.ForgetPassword.T001_ResetPasswordForInvalidEmail"/>
            <class name="testCases.ForgetPassword.T002_VerifyForgetPasswordWithInvalidFormat"/>
            <class name="testCases.ForgetPassword.T003_VerifyForgetPasswordRightColumn"/>
            <class name="testCases.ForgetPassword.T004_VerifyForgetPasswordBreadCrumb"/>

          <class name="testCases.SearchFunctionality.T001_ValidSearch"/>
            <class name="testCases.SearchFunctionality.T002_EmptySearch"/>
            <class name="testCases.SearchFunctionality.T003_InvalidSearch"/>
             <class name="testCases.SearchFunctionality.T004_MultipleResultSearch"/>
           <class name="testCases.SearchFunctionality.T005_SearchInProductDescription"/>
            <class name="testCases.SearchFunctionality.T006_VerifySearchCategory"/>
            <class name="testCases.SearchFunctionality.T007_SubCategorySearch"/>
            <class name="testCases.AddToCart.T001_AddToCartFromProductPage"/>
            <class name="testCases.AddToCart.T002_AddToCartFromSearchResult"/>
           <class name="testCases.AddToCart.T004_AddToCartFromWishList"/>
        </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->